In [2]:
import sqlite3

In [3]:
connection  = sqlite3.connect("database.db")

# Create a cursor object
cursor = connection.cursor()

# Query to get the names of all tables in the database
query = "SELECT name FROM sqlite_master WHERE type='table';"

# Execute the query
cursor.execute(query)

# Fetch all results
tables = cursor.fetchall()

# Iterate over the list of tables and print each table name
for table in tables:
    print('this is the table name', table[0])

# Close the cursor and connection
cursor.close()
connection.close()

this is the table name user
this is the table name job
this is the table name friend

In [30]:
connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM Job')
rows = cursor.fetchall()

for row in rows:
    print(row)

In [32]:
connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM user')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'toanvo234', 'Password135@', 'Toan', 'Vo', 1, 1, 1, 'English')
(2, 'john', 'Password135@', 'John', 'lol', 1, 1, 1, 'English')

In [6]:
# read the Friend database
connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM Friend')
rows = cursor.fetchall()

for row in rows:
    print(row)

# read the Address database

('toanvo234', 'john', 'pending')

In [6]:
cursor.execute("PRAGMA table_info(job);")

# Fetch all results
columns_info = cursor.fetchall()

# Extract column names from the PRAGMA command result
column_names = [column[1] for column in columns_info]

print("Column names:", column_names)

Column names: ['id', 'title', 'description', 'employer', 'location', 'salary', 'accountName']

In [33]:
# get all column names in the user table
cursor.execute("PRAGMA table_info(user);")

# Fetch all results
columns_info = cursor.fetchall()

# Extract column names from the PRAGMA command result
column_names = [column[1] for column in columns_info]

print("Column names:", column_names)

Column names: ['id', 'accountName', 'password', 'fname', 'lname', 'email_option', 'sms_option', 'advertising_option', 'language']

In [21]:
# drop table Job

connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('DROP TABLE Job')
rows = cursor.fetchall()

In [18]:
# add new rows to the table called Friend, with the following values:
# user: 'Dennis', friend: 'John', status: 'accepted'
# user: 'Dennis', friend: 'Peter', status: 'accepted'
# user: 'Dennis', friend: 'Susan', status 'pending'

connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('INSERT INTO friend VALUES ("dennis", "toan", "accepted")')
cursor.execute('INSERT INTO friend VALUES ("dennis", "john", "accepted")')
cursor.execute('INSERT INTO friend VALUES ("dennis", "susan", "pending")')
rows = cursor.fetchall()
print(rows)

[]

In [4]:
# fetch all rows from the table called User
connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM user')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'toanvo234', 'Password135@', 'Toan', 'Vo', 1, 1, 1, 'English')
(2, 'john', 'Password135@', 'John', 'lol', 1, 1, 1, 'English')

In [48]:
# fetch from the table called Friend
connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM friend')
rows = cursor.fetchall()
for row in rows:
    print(row)

('lili', 'toanvo234', 'pending')

In [5]:
# make toan everyone's friend
connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('INSERT INTO friend SELECT user, "toan", "pending" FROM user WHERE user != "toan"')
rows = cursor.fetchall()
print(rows)

# fetch from the table called Friend
connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM friend')
rows = cursor.fetchall()
for row in rows:
    print(row)

OperationalError: no such column: user

In [29]:
# get all column of the table called Friend
connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute("PRAGMA table_info(friend);")
columns_info = cursor.fetchall()
column_names = [column[1] for column in columns_info]
print("Column names:", column_names)

Column names: ['user', 'friend', 'status']

In [41]:
# get all rows from the table called Friend
connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM friend')
rows = cursor.fetchall()
for row in rows:
    print(row)

In [26]:
# find row in the table called Friend where the user is toanvo234
connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('SELECT * FROM friend WHERE user = "toanvo234"')
rows = cursor.fetchall()
for row in rows:
    print(row)

In [36]:
# change the status of the friendship between john and toanvo234 to 'pending'

connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('UPDATE friend SET status = "pending" WHERE user = "toanvo234"')

# commit the changes
connection.commit()

In [43]:
# delete the row in the table called Friend where the user is john
connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('DELETE FROM friend WHERE user = "john"')



# commit the changes
connection.commit()

In [44]:
# delete the row in the table called Friend where the user is toanvo234
connection = sqlite3.connect('database.db')
cursor = connection.cursor()
cursor.execute('DELETE FROM friend WHERE user = "toanvo234"')

# commit the changes
connection.commit()

In [27]:
# disconnect from the database
connection.close()